@import "tailwindcss";
@import "tw-animate-css";

@theme{
  --color-brand-blue: #1f797c; /* #primary - azul oscuro */
  --color-brand-green: #75b06f; /* #secondary - verde */
  --color-brand-beige: #dad887; /* #muted - beige */
  --color-brand-yellow: #f0f8a4; /* accent - amarillo claro */
  --color-brand-card: #fefffe;
  --color-brand-balance: #1f4046
}

@media print {
  @page {
    size: landscape; /* Fuerza el PDF a ser horizontal */
    margin: 0; /* Quita los bordes feos de la impresora (fecha, URL) */
  }
  body {
    -webkit-print-color-adjust: exact; /* Asegura que los colores y fondos se vean bien */
  }
}