@import "tailwindcss";
@import "tw-animate-css";

@theme{
  --color-brand-blue: #1f797c; /* #primary - azul oscuro */
  --color-brand-green: #75b06f; /* #secondary - verde */
  --color-brand-beige: #dad887; /* #muted - beige */
  --color-brand-yellow: #f0f8a4; /* accent - amarillo claro */
  --color-brand-card: #fefffe;
  --color-brand-balance: #1f4046
}

